<% if room.can_review? %>
	<!-- remote:true - Rails criará um atributo data chamado
data-remote . A partir daí, um script chamado “Unobtrusive scripting adapter”, ou
adaptador para script não-intrusivo, irá observar o evento submit do formulário,
capturá-lo e enviar todos os dados via AJAX, ao invés da forma tradicional. -->
	<%= form_for room.review_route, remote: true do |f| %>
    <% room.review_points.each do |point| %>
      <%= f.radio_button :points, point  %>
      <%= f.label :points, value: point do %>
        <%= fa_icon 'star' %>
      <% end %>
    <% end %>

    <%= f.submit %>
  <% end %>
<% else %>
  <span class="login_required">
    <%= t('.login_to_review') %>
  </span>
<% end %>